.App {
  width: 1000px;
  min-height: 100vh;
}

header {
  padding-block: 1.5em 0;
  margin-bottom: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

header .logo {
  height: 6rem;
}

h1,
h2 {
  background-image: linear-gradient(
    60deg,
    var(--brand-mid),
    var(--brand-darker)
  );
  background-clip: text;
  color: transparent;
}

header h1 {
  flex-grow: 1;
  line-height: 1.2;
}

header nav {
  display: flex;
  gap: 1em;
  margin-inline: 2em;
}

header .user-profile img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  border: solid 3px var(--brand-mid);
}

.profile-card {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.profile-card .user-info {
  display: flex;
  flex-direction: column;
}

.profile-card .user-info .display-name {
  margin: 0;
}

.profile-card .user-info .username {
  margin: 0;
  color: var(--brand-darker);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* ROUTINE CARD LIST */
.routine-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.routine-card {
  display: flex;
  flex-direction: column;
}

.routine-card h4,
.routine-card p {
  margin-block: 0.25em;
}

.routine-card p {
  color: var(--text-color-alt);
}

.routine-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.75em;
  border: solid 1px var(--border-color);
}

/* WORKOUT CARD */
.workout-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.workout-card {
  display: flex;
  flex-direction: column;
}

.workout-card h4 {
  margin-block: 0.12em;
}
.workout-card p {
  margin-block: 0.12em;
}

.workout-card .workout-date {
  color: var(--text-color-alt);
}

.workout-card .workout-details {
  color: var(--brand-lighter);
}

.workout-card .workout-notes {
  margin-block-start: 1em;
}

.logo {
  width: 1.5em;
  height: 1.5em;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

/* ROUTINES LIST PAGE */

/* ROUTINES SEARCH */
.routines-container .search {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding-inline: 25%;
  padding-block: 2em;
}
.routines-container .search input {
  border: solid 1px var(--brand-lighter);
  border-radius: 3em;

  background-color: var(--bg-color-alt);
  padding: 1em;
  font-size: 1.2em;

  color: var(--brand-light);
  font-family: var(--font-family);
  font-weight: 100;

  text-align: center;
}

.routines-container .search input:focus {
  outline: none;
  border: solid 1px var(--brand-mid);
}

.routines-container .search input::placeholder {
  color: var(--brand-mid);
  text-align: center;
}

.routines-container .search-filters {
  display: flex;
  flex-direction: row;

  color: var(--brand-mid);
  padding-inline: 2em;
}

.routines-container .search-filters :first-child {
  flex-grow: 1;
}

.routine-list .not-found {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: var(--brand-mid);
}

.routine-list {
  display: flex;
  flex-direction: column;
  gap: 2.5em;

  padding-inline: 15%;
}

.routine-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.routine-list .routine-card img {
  width: 10em;
  height: 6.5em;
  object-fit: cover;
  border-radius: 0.75em;
  border: solid 1px var(--border-color);
}
.routine-list .routine-card .routine-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  height: 100%;
}

.routine-list .routine-card .routine-details h3 {
  margin-block: 0 0.25em;
  line-height: 1.1;
}

.routine-list .routine-card .routine-details .owner {
  font-size: 0.8em;
  color: var(--brand-lighter);
}

.routine-list .routine-card .btn-favorite {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routine-list .routine-card .btn-favorite img {
  width: 34px;
  height: 33px;
  border: none;
  cursor: pointer;
}
